.container{
    text-align: center;

    margin-top: 10px;
}

table{
    margin: auto;
}

input{
    border-radius: 10px;
    border: 5px solid #0b0a0e;
    font-size:30px;
    height: 60px;
    width: 400px;
}

button{
    border-radius: 20px;
    font-size: 50px;
    background: #e0daea;
    width: 100px;
    height: 80px;
    margin: 10px;
}

.calculator{ 
    border: 4px solid #dcdbe1;
    background-color: #f7edf7;
    padding: 23px;
    border-radius: 53px;
    display: inline-block;
    
}

h1{

    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
}